
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: "#00b7ff"
}

/* 
    Words starting with # represent id.
    'content' is the id of a div in index.html. 
    Application will be 800px wide and horizontally centered. 
*/
#content {
    background-color: aquamarine;
    width:          800px;
    margin-left:    auto;
    margin-right:   auto;
}

/* 'room' is the id of a div in 'index.html' */
#room {
    background-color:burlywood;
    margin-bottom: 1em;
}

/* 'messages' is the id of a div in 'index.html' */
#messages {
    width:          690px;
    height:         300px;
    /* Deals with those items which are too big to fit in the given space. */
    overflow:       auto;
    background-color: #eee;
    margin-bottom:  1em;
    margin-right:   10px;
}

#room-list {
    float: right;
    width: 100px;
    height: 300px;
    overflow: auto;
}

#room-list div {
    border-bottom: 1px solid #eee;
}

#room-list div:hover {
    background-color: #ddd;
}

#send-message {
    width: 700px;
    margin-bottom: 1em;
    margin-right: 1em;
}

#help {
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
